<h1>Create Project</h1>

<form [formGroup]="newProjectForm" (ngSubmit)="onSubmit()">
  <div class="input-group mb-2">
    <span class="input-group-text">Name</span>
    <input type="text" class="form-control" formControlName="name" />
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">Description</span>
    <input type="text" class="form-control" formControlName="description">
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">Start Date</span>
    <input type="text" class="form-control" formControlName="startdate">
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">Version</span>
    <input type="text" class="form-control" formControlName="version">
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">Url</span>
    <input type="text" class="form-control" formControlName="url">
  </div>
  <input type="submit" class="btn btn-primary">
</form>
