
<h1>Edit Ticket</h1>


<form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
  <div class="input-group mb-2">
    <span class="input-group-text">Description</span>
    <input type="text" class="form-control" formControlName="description">
  </div>
  <!--<div class="input-group mb-2">
    <span class="input-group-text">Modified</span>
    <input type="text" class="form-control" formControlName="modified">
  </div>-->
  <div class="input-group mb-2">
    <span class="input-group-text">Project</span>
    <input type="text" class="form-control" formControlName="projectId" [readonly]="true">
  </div>

  <div class="btn-group" dropdown>
    <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-animated">Status<span class="caret"></span>
    </button>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
      <li role="menuitem"><a class="dropdown-item">0</a></li>
      <li role="menuitem"><a class="dropdown-item">1</a></li>
      <li role="menuitem"><a class="dropdown-item">2</a></li>
      <li role="menuitem"><a class="dropdown-item">3</a></li>
    </ul>
  </div>
  <br /><br />
  <input type="submit" class="btn btn-primary">
</form>






