
<h1>Edit Ticket</h1>


<form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
  <div class="input-group mb-2">
    <span class="input-group-text">Description</span>
    <input type="text" class="form-control" formControlName="description">
  </div>
  <!--<div class="input-group mb-2">
    <span class="input-group-text">Modified</span>
    <input type="text" class="form-control" formControlName="modified">
  </div>-->
  <div class="input-group mb-2">
    <span class="input-group-text">Project</span>
    <input type="text" class="form-control" formControlName="projectId" [readonly]="true">
  </div>
  <div class="input-group mb-2">
<select class="form-select" formControlName="status">
  <option *ngFor ="let item of statusTypes" [ngValue] =" item.value">{{ item.name }}</option>
</select>
  </div>

  <br /><br />
  <input type="submit" class="btn btn-primary">
</form>






