<h1>Projects</h1>
<a [routerLink]="['/projects/new']">Create a New Project</a>
<div *ngIf="projects.length > 0">
  <div *ngFor="let project of projects">
    <div>Project: {{ project.name }}</div>
    <div>Version: {{ project.version }}</div>
    <div><p>Description: {{ project.description }}</p></div>
    <ul>
      <li><a *ngIf="project.url" href="{{ project.url }}" target="_blank">Repo</a></li>
      <li><a [routerLink]="['/projects', project.id]">Details</a></li>
      <li><a [routerLink]="['/projects/edit', project.id]">Edit</a></li>
      <li><a [routerLink]="['/projects/delete', project.id]">Delete</a></li>
    </ul>
  </div>
</div>
