<a class="btn btn-secondary" [routerLink]="['/projects']">Back to Projects</a>

<div class="container details" *ngIf="id != 0">
  <div class="row">
    <div class="col">
      <div class="float-start">
        <h3>{{ project.name }}</h3>
      </div>
      <div class="btn-group float-end">
        <a class="btn btn-success" [routerLink]="['/projects/edit', project.id]">Edit <i class="fa-solid fa-pen-to-square"></i></a>
        <a class="btn btn-danger" [routerLink]="['/projects/delete', project.id]">Delete <i class="fa-sharp fa-solid fa-trash"></i></a>
        <a class="btn btn-secondary" *ngIf="project.url" href="{{ project.url }}" target="_blank">Repository <i class="fa-brands fa-github"></i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong>Start Date</strong>: {{ project.startDate | date }}<br />
      <strong>Version</strong>: {{ project.version }}<br />
      <strong>Description</strong>: {{ project.description }}<br />
      <strong>Project Id</strong>: {{ project.id }}<br />
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <app-tickets [tickets]="project.tickets" [projectId]="project.id"></app-tickets>
    </div>
  </div>
</div>


