<a [routerLink]="['/projects']">Back to Projects</a>
<h2>Details</h2>

<div class="container details" *ngIf="id != 0">
  <div class="row">
    <div class="col">
      <div class="float-start">
        <h3>{{ project.name }}</h3>
      </div>
      <div class="float-end">
        <a class="btn btn-secondary" *ngIf="project.url" href="{{ project.url }}" target="_blank">Repository <i class="fa-brands fa-github"></i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong>Start Date</strong>: {{ project.startDate | date }}<br />
      <strong>Version</strong>: {{ project.version }}<br />
      <strong>Description</strong>: {{ project.description }}<br />
      <strong>Project Id</strong>: {{ project.id }}<br />
    </div>
  </div>
  <div class="btn-group" dropdown>
    <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-animated">
      Project Menu <span class="caret"></span>
    </button>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/projects/edit', project.id]">Edit</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/projects/delete', project.id]">Delete</a></li>
    </ul>
  </div>
  <div class="row mt-4">
    <div class="col">
      <app-tickets [tickets]="project.tickets" [projectId]="project.id"></app-tickets>
    </div>
  </div>
</div>


