<img class="imgbackground" src="https://cdn6.creativecirclemedia.com/lafromboise/original/20201202-194935-3f30ee2c05dccf58724f79239d72ab47.jpg" alt="" />

<div class="background">

</div>

<h1>Welcome to Centralia Dev Tools</h1>

<div class="card text-center">
  <div class="card-header">
    
  </div>
  <div class="card-body">
    <h5 class="card-title">CCDevTools Projects</h5>
    <p class="card-text">Centralia Development Tools is a way to keep track of projects for current and future devolopers.</p>
    <div class="space"></div>
    <a [routerLink]="['/projects']" class="btn btn-primary">View Projects</a>
  </div>
</div>

