*{
    padding: 0;
    margin: 0;
}

h1{
    position: fixed;
    top: 120px;
    left: 70px;
    z-index: 0;
    color: dodgerblue;
    border: 2px solid white;
    background-color: gold;
    padding: 20px;
}

.imgbackground {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  max-width: 60%;
  min-height: 100%;
  color: black;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 40%;
  height: 100%;
  background: linear-gradient( to right, dodgerblue 0%, dodgerblue 50% );
}
