div.describe {
  border: 2.5px solid black;
  margin: 10px;
  padding: 10px;
}

/*div.title {
    font-weight: bold;
    padding: 1em;
}

div.description {
    padding: 1em;
}
.date {
    font-size: 14px
}*/

