<div class="spinner-border" role="status" *ngIf="ticket.id == 0"></div>

<div *ngIf="ticket.id != 0">
  <a class="btn btn-secondary" [routerLink]="['/projects', ticket.projectId]">Back to Project #{{ ticket.projectId }}</a>

  <h2>Ticket #{{ ticket.id }}</h2>
  <div class="btn-group float-end">
    <a class="btn btn-success" [routerLink]="['/tickets/edit', ticket.id]">Edit <i class="fa-solid fa-pen-to-square"></i></a>
    <a class="btn btn-danger" [routerLink]="['/tickets/delete', ticket.id]">Delete <i class="fa-sharp fa-solid fa-trash"></i></a></div>
    <div class="date">Created: {{ ticket.created | date }}</div>
    <div class="date" *ngIf="ticket.modified">Modified: {{ ticket.modified | date }} </div><br />

    <div class="describe">
      <div class="title">Description</div>
      <div class="description">{{ ticket.description }}</div>
    </div>

  </div>


