<div class="spinner-border" role="status" *ngIf="ticket.id == 0"></div>

<div *ngIf="ticket.id != 0">
  <a [routerLink]="['/projects', ticket.projectId]">Back to Project #{{ ticket.projectId }}</a>
  <h2>Ticket #{{ ticket.id }}</h2>
  <div class="date">Created: {{ ticket.created | slice: 0:10 }}</div>
  <div class="date" *ngIf="ticket.modified">Modified: {{ ticket.modified | slice: 0:10 }} </div><br />

  <p><i><b>Description</b></i><br />
  {{ ticket.description }}</p>

  <div class="btn-group" dropdown>
    <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-animated">
      Ticket Menu<span class="caret"></span>
    </button>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/tickets/edit', ticket.id]">Edit</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/tickets/delete', ticket.id]">Delete</a></li>
    </ul>
  </div>
</div>


