<h1>{{ board.name }}</h1>
<p>{{ board.description }}</p>

<!--<div class="categories row">
  <category-item class="col" *ngFor="let category of board.categories" [data]="category"></category-item>
</div>-->

<ng-template #itemTemplate let-item="item" let-index="index" class="categories row">
  <category-item class="col" [data]="item.initData"></category-item>
</ng-template>


<div>
  <bs-sortable
      [(ngModel)]="categoryList"
      fieldName="name"
      [itemTemplate]="itemTemplate"
  ></bs-sortable>
</div>

<pre>{{ categoryList | json }}</pre>
