<div class="row">
  <div class="col">
    <div class="float-end">
      <button class="btn btn-primary btn-sm" (click)=toggleTicketDiv()>Ticket List</button>
      <a class="btn btn-primary btn-sm" [routerLink]="['/tickets/new', projectId]">New Ticket <i class="fa-sharp fa-solid fa-bug"></i></a>
    </div>
  </div>
</div>
<div [hidden]="isShowDiv" *ngIf="tickets.length > 0" class="row">
  <div  *ngFor="let ticket of tickets" class="row border border-secondary">
    <div class="col">Ticket#: {{ ticket.id }}</div>
    <div class="col">Created: {{ ticket.created | slice: 0:10 }}</div>
    <div class="col">Modified: {{ ticket.modified | slice: 0:10 }}</div>
    <div class="col">Problem: {{ ticket.description | slice: 0:100 }}</div>
    <div class="col">Status: {{ ticket.status }}</div>
    <div class="col">
      <div class="btn-group" dropdown>
        <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle m-2"
                aria-controls="dropdown-animated">
          Ticket Menu<span class="caret"></span>
        </button>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/tickets', ticket.id]">Details</a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/tickets/edit', ticket.id]">Edit</a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/tickets/delete', ticket.id]">Delete</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


