<div class="row">
  <div class="col">
    <div class="float-end">
      <a *ngIf="!isShowDiv" class="btn btn-primary btn-sm" (click)="toggleShowAll()">
        <span *ngIf="!showAll"> Show All</span>
        <span *ngIf="showAll"> Hide Closed</span>
      </a>
      <a class="btn btn-primary btn-sm" (click)="toggleTicketDiv()">Ticket List</a>
      <a class="btn btn-primary btn-sm" [routerLink]="['/tickets/new', projectId]">New Ticket <i class="fa-sharp fa-solid fa-bug"></i></a>
    </div>
  </div>
</div>
<div [hidden]="isShowDiv" *ngIf="tickets.length > 0" class="row m-2">
  <div *ngFor="let ticket of tickets" >
    <div *ngIf="canShow(ticket.status)" class="row border border-primary border-2 rounded m-2">
      <div class="col"><b>Ticket#:</b> {{ ticket.id }}</div>
      <div class="col"><b>Created:</b> {{ ticket.created | slice: 0:10 }}</div>
      <div class="col" *ngIf="ticket.modified"><b>Modified:</b> {{ ticket.modified | slice: 0:10 }}</div>
      <div class="col"><b>Problem:</b> {{ ticket.description | slice: 0:100 }}</div>
      <div class="col" *ngIf="ticket.status == 0"><b>Status:</b> Open</div>
      <div class="col" *ngIf="ticket.status == 5"><b>Status:</b> In Progress</div>
      <div class="col" *ngIf="ticket.status == 10"><b>Status:</b> Closed</div>
      <div class="col">
        <div class="btn-group" dropdown>
          <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle m-2"
                  aria-controls="dropdown-animated">
            Ticket Menu<span class="caret"></span>
          </button>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/tickets', ticket.id]">Details</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/tickets/edit', ticket.id]">Edit</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/tickets/delete', ticket.id]">Delete</a></li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</div>


